:root{
  --base-color-r: 34;
  --base-color-g: 33;
  --base-color-b: 37;

  --background-color-sidebar: rgb(
    calc(var(--base-color-r) - 0),
    calc(var(--base-color-g) - 0),
    calc(var(--base-color-b) - 0)
  );
  --background-color-console: rgb(
    calc(var(--base-color-r) + 4),
    calc(var(--base-color-g) + 4),
    calc(var(--base-color-b) + 7)
  );
  --background-color-graphview: rgb(
    calc(var(--base-color-r) + 13),
    calc(var(--base-color-g) + 13),
    calc(var(--base-color-b) + 16)
  );
  --background-color-topbar: rgb(
    calc(var(--base-color-r) - 1),
    calc(var(--base-color-g) - 0),
    calc(var(--base-color-b) - 0)
  );
  --background-color-touczone: rgb(
    calc(var(--base-color-r) + 8),
    calc(var(--base-color-g) + 8),
    calc(var(--base-color-b) + 21)
  );
  --background-color-body: rgb(
    calc(var(--base-color-r) - 8),
    calc(var(--base-color-g) - 8),
    calc(var(--base-color-b) - 6)
  );
  --background-color-top: rgb(
    calc(var(--base-color-r) + 2),
    calc(var(--base-color-g) + 3),
    calc(var(--base-color-b) + 7)
  );
  --background-color-textElement: rgb(
    calc(var(--base-color-r) + 5),
    calc(var(--base-color-g) + 5),
    calc(var(--base-color-b) + 10)
  );
  --background-color-text-hover: rgb(
    calc(var(--base-color-r) + 5),
    calc(var(--base-color-g) + 5),
    calc(var(--base-color-b) + 10)
  );


  --text-color:rgb(240, 248, 255);
  
 
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0px;
  max-width: 38rem;
  background-color:  var(--background-color-body);;
}

#sidebar{
  position:absolute;
  width: 20%;
  height: 100%;
  left: 0px;
  top:0px;
  background-color: var(--background-color-sidebar);
}

#consoleArea{
  position:absolute;
  background-color:var(--background-color-console);
  bottom: 0px;
  right: 0px;
  width: 80%;
  height: 20em;
  resize: horizontal;
}


#graphView{
  position: absolute;
  top: 0px;
  right: 0px;
  background-color:var(--background-color-graphview);
  height: 73%;
  width: 80%;
  overflow: auto;
}

.flexboxV{
  display: flex;
  top: 5%;
  position: absolute;
}

#topBar{
  position: absolute;
  width: 100%;
  height: 8%;
  background-color:var(--background-color-topbar);
  color: var(--text-color);
}

#topBar a{
  margin-left: 2%;
  color: var(--text-color);
}

#topBar a:focus{
  margin-left: 2%;
  color: var(--text-color);
}

#topBar a:hover{
  margin-left: 2%;
  color: var(--text-color);
}

#vorlesungs-Icon{
  position: absolute;
  right: 1%;
}

#zoomIn{
  position: absolute;
  right: 4%;
  font-size: x-large;
  margin: 0px;
  bottom:1px;

}


#zoomOut{
  position: absolute;
  right: 6%;
  font-size: x-large;
  margin: 0px;
  bottom:1px;
}

#top{
  background-color: var(--background-color-top);
  width: 100%;
  height: 2%;
  margin: 0%;
}

 #dots{
  color: var(--text-color);
  position: absolute;
  font-size:x-large;
  right: 1%;
  top:-15px;
  margin: 0px;
  padding: 0px;;
}

#downPart{
  overflow-y: auto;
  height: 100%;
}

#datastructureView{
  width: 100%;
  height: 98%;
  top:5%;
  left: 0px;
  display: grid;
  margin-top: 0%; 
  overflow-y: auto;
  
}

.dsTextElement{
  color:var(--text-color);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-top: 2px solid darkgray;
  background-color: var(--background-color-textElement);
  width: 100%;
  
  text-align: center;
}

.dsTextElement:hover{
  color:var(--text-color);
  background-color: var(--background-color-text-hover);
  
}


#touchzone{
  position: fixed;
  right: 0px;
  bottom: 0px;
  height: 18.5em;
  width: 100px;
  background-color: var(--background-color-touczone);
  text-align: center;
  text-decoration-color: var(--text-color);
  color: var(--text-color);
  text-size-adjust:initial;
  display: grid;
  grid-template-columns: 1em;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#touchzone a{
  margin-left: 50px;
}

#containerDown{
  position: absolute;
  top:4%; 
  width: 100%;
  height: 95%;
}

#movetogle{
  position: absolute;
  right: 14%;
  top: 3px;
}

#pointertoggle{
  position: absolute;
  right: 9%;
  top: 3px;
}